<!DOCTYPE html>
<html>
<head>
	<title>Room</title>
</head>
<body>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

	<div>
	{% csrf_token %}

		{% if isOwner %}

			<div style="float: right; padding-top: 0px; margin-top: 0px; width: 25%">
				<h3 style="margin-top: 0px;">Pending approvals</h3>

				<div class="pending_requests" style="margin-right: 6px; display: block; border: 1px solid green; border-radius: 4px; height: 440px; padding: 5px;">
					
				</div>

			</div>

			<script type="text/javascript">

				var room = "{{ room_no }}";
				var room_no = parseInt(room);

				var csrftoken = $("[name=csrfmiddlewaretoken]").val();
				function csrfSafeMethod(method) {
			      	// these HTTP methods do not require CSRF protection
			      	return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
				}

				$(window).on("load", function () {
					var data = JSON.stringify({'room_no': room_no});
					console.log(data);
		          	$.ajax({
				      	beforeSend: function(xhr, settings) {
				          	if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
				            	xhr.setRequestHeader("X-CSRFToken", csrftoken);
				          	}
				      	},
				      	url: "/chat/pending_request/",
				      	type: "POST",
				      	data: data,
				      	cache: false,
				      	processData: false,
				      	contentType: false,
				      	success: function(data) {
				        	// console.log(data);
				        	var pending = data['data'];
				        	for (item in pending) {

				        		$(".pending_requests").append("<div>" + pending[item] + "&nbsp<button class='approve' id='" + pending[item] + "'>Approve</button></div><br>");
				        	}
				      	},
				      	error: function(data) {

				      	}
				    });

		          	$(document).on("click", ".approve", function () {
		          		var email = $(this).attr("id");
		          		var el = $(this);
		          		console.log(email);
		          		$.ajax({
					      	beforeSend: function(xhr, settings) {
					          	if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
					            	xhr.setRequestHeader("X-CSRFToken", csrftoken);
					          	}
					      	},
					      	url: "/chat/approve_request/",
					      	type: "POST",
					      	data: JSON.stringify({'room_no': room_no, 'email': email}),
					      	cache: false,
					      	processData: false,
					      	contentType: false,
					      	success: function(data) {
					        	// console.log(data);
					        	$(el).parent().remove();
					      	},
					      	error: function(data) {

					      	}
					    });
		          	});

		        });

			</script>

		{% endif %}

		<h3>Room No - {{ room_no }}</h3>

		<div style="display: block; border: 1px solid grey; border-radius: 4px; height: 440px; width: 40%; overflow: auto;">

			<div class="chat" style="border: 1px solid grey; border-radius: 4px; height: 350px; width: 98%; margin: 4px;">
				
			</div>

			<div style="margin-left: 6px;">
				<textarea class="message" rows="3" cols="61"></textarea>
				<button type="button" class="post" style="float: right; margin-right: 6px;">Post</button>
			</div>

		</div><br>
		<a href="/chat/go_to_home/" type="button" class="button">Go Back</a>

	</div>

	<script type="text/javascript">
		var room = "{{ room_no }}";
		var room_no = parseInt(room);

		var user = "{{ request.session.email }}";

		var chatSocket = new WebSocket('ws://' + window.location.host + '/ws/chat/' + room + '/' + user + '/');

		chatSocket.onmessage = function(e) {
          	var data = (JSON.parse(e.data));
          	var msg = data['message'];
          	var whoami = data['user'];
          	var elem = "";
          	console.log(whoami);
          	console.log(user);
          	if (whoami == user) {
          		elem = "<div style=' margin: 4px; padding: 3px; margin-left: 12em; border: 1px solid green; border-radius: 3px; background-color: darkgreen; color: white;'>" + msg + "</div>";
          	} else {
          		elem = "<div style='margin: 4px; padding: 3px; margin-right: 12em; border: 1px solid darkred; border-radius: 3px; background-color: darkred; color: white;'>" + msg + "</div>";
          	}
          	$(".chat").append(elem);
        }

        chatSocket.onclose = function(e) {
        	console.error('Chat socket closed unexpectedly');
      	}

      	$(document).on("click", ".post", function () {
      		var msg = $(".message").val();
      		chatSocket.send(JSON.stringify({
            	'message': msg,
            	'user': user
        	}));
        	$(".message").val("");
      	});

	</script>

</body>
</html>